body {
margin: 20px auto;
background-color: #999;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 20px;
width: 940px;
}
h1 {
font-size: 2em;
color: black;
text-align: center;
margin: 20px 0;
}

h2 {
font-size: 1.5em;
color: black;
}

div {
font-size: 1em;
color: #f2f2f2;
}
.container {
padding: 20px;
border: 1px solid black;
background-color: #777;
border-radius: 6px;
box-shadow: 1px 2px 2px rgba(0, 0, 0 ,.3);
}

/*s*/